In [1]:
import pandas as pd

In [2]:
Data=pd.read_excel('ml.xlsx')

In [3]:
Data

   Age  Price  Sell Prrice
0    2  50000        25000
1    3  80000        20000
2    1  30000        27000
3    3  40000        17000
4    5  66000        10000
5    4  35000        18000
6    2  55000        28000
7    3  12000         8000
8    6  15000         5000

In [6]:
X=Data[['Age','Price']]

In [7]:
X

   Age  Price
0    2  50000
1    3  80000
2    1  30000
3    3  40000
4    5  66000
5    4  35000
6    2  55000
7    3  12000
8    6  15000

In [8]:
Y=Data['Sell Prrice']

In [9]:
Y

0    25000
1    20000
2    27000
3    17000
4    10000
5    18000
6    28000
7     8000
8     5000
Name: Sell Prrice, dtype: int64

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
linear=LinearRegression()

In [12]:
from sklearn.model_selection import train_test_split

In [35]:
X_Train,X_Test,Y_Train,Y_Test=train_test_split (X,Y,test_size=0.3,random_state=0)

In [15]:
linear.fit(X_Train,Y_Train)

LinearRegression()

In [16]:
from sklearn.metrics import r2_score,mean_squared_error

In [17]:
pre=linear.predict([[2,55000]])

C:\Users\kashy\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [18]:
pre

array([25300.34588778])

In [20]:
pre=linear.predict(X_Test)
pre

array([-8301.88316679, 26699.55803228,  8499.23136049])

In [30]:
r2=r2_score(Y_Test,pre)

In [31]:
r2

-0.6488471558894846

In [36]:
linear.score(X_Test,Y_Test)

0.8884893190685343