# Import Library

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\trainer2\appdata\roaming\python\python39\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ckaging (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ackaging (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\trainer2\appdata\roaming\python\python39\site-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd

# Dataframe in Pandas

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types

In [ ]:
# Import dataset

In [7]:

pwd

'C:\\Users\\trainer2\\Desktop\\Pandas'

In [2]:
Data=pd.read_excel('C:\\Users\\kashy\\Documents\\Python_Pandas.xlsx')

In [3]:
Data

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-06-27,159.42,2533654.00,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-09-15,117.11,576782.80,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-08-05,524.96,1158502.59,224598.75
3,Sub_Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-05-07,6.92,75591.66,19525.82
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-06-02,524.96,3296425.02,639077.50
...,...,...,...,...,...,...,...,...,...
95,Sub_Saharan Africa,Mali,Clothes,Online,M,2011-03-09,35.84,97040.64,65214.72
96,Asia,Malaysia,Fruits,Offline,L,2011-12-28,6.92,58471.11,15103.47
97,Sub_Saharan Africa,Sierra Leone,Vegetables,Offline,C,2016-06-29,90.93,228779.10,93748.05
98,North America,Mexico,Personal Care,Offline,M,2015-08-08,56.67,471336.91,144521.02
99,Sub_Saharan Africa,Mozambique,Household,Offline,L,2012-02-15,502.54,3586605.09,889472.91

In [8]:
pd.read_excel("Python_Pandas.xlsx")

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-06-27,159.42,2533654.00,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-09-15,117.11,576782.80,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-08-05,524.96,1158502.59,224598.75
3,Sub_Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-05-07,6.92,75591.66,19525.82
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-06-02,524.96,3296425.02,639077.50
...,...,...,...,...,...,...,...,...,...
95,Sub_Saharan Africa,Mali,Clothes,Online,M,2011-03-09,35.84,97040.64,65214.72
96,Asia,Malaysia,Fruits,Offline,L,2011-12-28,6.92,58471.11,15103.47
97,Sub_Saharan Africa,Sierra Leone,Vegetables,Offline,C,2016-06-29,90.93,228779.10,93748.05
98,North America,Mexico,Personal Care,Offline,M,2015-08-08,56.67,471336.91,144521.02
99,Sub_Saharan Africa,Mozambique,Household,Offline,L,2012-02-15,502.54,3586605.09,889472.91

In [10]:
cd C:\Users\trainer2\Documents

C:\Users\trainer2\Documents

In [11]:
pwd

'C:\\Users\\trainer2\\Documents'

In [14]:
pd.read_excel("C:/Users/trainer2/Documents/x.xlsx")

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-06-27,159.42,2533654.00,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-09-15,117.11,576782.80,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-08-05,524.96,1158502.59,224598.75
3,Sub_Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-05-07,6.92,75591.66,19525.82
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-06-02,524.96,3296425.02,639077.50
...,...,...,...,...,...,...,...,...,...
95,Sub_Saharan Africa,Mali,Clothes,Online,M,2011-03-09,35.84,97040.64,65214.72
96,Asia,Malaysia,Fruits,Offline,L,2011-12-28,6.92,58471.11,15103.47
97,Sub_Saharan Africa,Sierra Leone,Vegetables,Offline,C,2016-06-29,90.93,228779.10,93748.05
98,North America,Mexico,Personal Care,Offline,M,2015-08-08,56.67,471336.91,144521.02
99,Sub_Saharan Africa,Mozambique,Household,Offline,L,2012-02-15,502.54,3586605.09,889472.91

In [ ]:
pd.read_excel("")

In [ ]:
#change work directory
cd D:/Fingertips_Shalini/Desktop/Data Files

In [6]:
pwd

'C:\\Users\\trainer2\\Desktop\\Pandas'

In [ ]:
sales=pd.read_csv("100_Sales _Records.csv")
sales.head()

In [ ]:
#Names of all columns in dataset
sales.columns

In [ ]:
#First 5 records of data
sales.head()

In [ ]:
#Last 5 records of data
sales.tail()

In [ ]:
#First 3 records of data
sales.head(3)

In [ ]:
#Last 3 records of data
sales.tail(3)

# Slicing & Dicing

# Data Selection

In [ ]:
#select a single column(Selecting data using Labels (Column Headings))
sales['Region'].head()

In [ ]:
#Method 2: use the column name as an 'attribute'; gives the same output
sales.Region.head()

In [ ]:
#pass a list of column(select multiple columns)
sales[['Region','Total_Profit']].head()

In [ ]:
#what if you flip the order
sales[['Total_Profit','Region']].head()

In [ ]:
#create an object that only contain Region column
Region_data=sales['Region']
Region_data.head()

In [ ]:
#Creating a new column-new
sales['region_country']=sales['Region']+sales['Country']
sales.head()

In [ ]:
#Slicing Subsets of Rows in Python
#select first 3 rows
sales[0:3]

In [ ]:
#select first 5 rows
sales[:5]

In [ ]:
# Select the last row in the dataset
sales[-1:]

# LOC

In [ ]:
# Select all columns for rows of index values 0 and 10
sales.loc[[0, 10], :]

In [ ]:
# Select first row and specific column
sales.loc[0, ['Region', 'Country', 'Item_Type']]

In [ ]:
sales.loc[[0, 10, 25],:]

In [ ]:
#error
sales.loc[0:4,1:4]

In [ ]:
#error
sales.loc[[0:4],:]

In [ ]:
sales.loc[[0,4],:]

# ILOC

In [ ]:
# Syntax for iloc indexing to finding a specific data element
sales.iloc[row, column]

In [ ]:
#value in 2nd row and 6th column
sales.iloc[2,6]

In [ ]:
#Slicing Subsets of Rows and Columns in Python
# To select a subset of rows and columns from our DataFrame, 
# we can use the iloc method. For example, we can select month, day and year 
#(columns 2, 3 and 4 if we start counting at 1), like this:
#iloc[row slicing,column slicing]

In [ ]:
sales.iloc[2:6,6:9]

# Subsetting & Filter

# Data selection based on Condition

In [ ]:
#Subsetting Data using Criteria
sales
sales[sales.Sales_Channel == "Offline"]

In [ ]:
sales
sales[sales.Sales_Channel != "Offline"]

In [ ]:
# baby food, cereal, unit cost> 100
sales[(sales.Total_Profit >= 150000) & (sales.Total_Revenue >= 50000)].head()

# Descriptive Statistics

In [ ]:
sales.mean()

In [ ]:
sales.max()

In [ ]:
sales.min()

In [ ]:
sales.median()

In [ ]:
sales.std()

In [ ]:
sales.var()

The describe() method is used for calculating some statistical data like percentile, mean and std of the numerical values of the Series or DataFrame. It analyzes both numeric and object series and also the DataFrame column sets of mixed data types.

In [ ]:
sales.describe()

info() function is used to get a concise summary of the dataframe

In [ ]:
sales.info()

In [ ]:
#check datatype
sales.dtypes['Region']

In [ ]:
sales.dtypes['Total_Profit']

count() function return count of values in each elements

In [ ]:
sales.count()

In [ ]:
# skew() function return unbiased skew over requested axis
sales.skew()

In [ ]:
#kurt() function return unbiased kurtosis over requested axis
sales.kurt()

In [ ]:
#Compute pairwise correlation of columns, excluding NA/null values. 

sales.corr()

In [ ]:
#Covariance is a measure of how much two random variables vary together.
#The cov() function is used to compute pairwise covariance of columns, excluding NA/null values. 

sales.cov()

# Apply function

apply takes a function and applies it to all values of pandas series or dataframe

In [ ]:
sales.apply(max)

In [ ]:
sales.apply(min)

# DROP ENTERIES/VALUES

# Drop Columns

In [ ]:
#To remove column Region
Newdata=sales.drop(['Region'], axis=1)
Newdata.head()

In [ ]:
#To make permanent change in the dataset

sales.drop(['Item_Type'], axis=1,inplace=True)
sales.head()

In [ ]:
# Remove more than one column
sales.drop(['Region','Total_Profit'],axis=1).head()

In [ ]:
# Remove more than one column
sales.drop(['Region','Unit_Cost','Total_Profit'],axis=1).head()

In [ ]:
# Remove Multiple Columns in Python by indenxing
sales.drop(sales.columns[[0,2]], axis =1).head()

In [ ]:
#Remove column count 3(Ship_Date)
sales.drop(sales.columns[3], axis =1).head()

# Drop Rows

In [ ]:
# Drop an observation (row)
sales.drop([1,2])

# Drop Columns from a Dataframe using loc[] and drop() method

Drop Columns from a Dataframe using loc[] and drop() method

In [ ]:
# Remove all columns between column name 'Country' to 'Total_Profit'
sales.drop(sales.loc[:, 'Country':'Total_Profit'].columns, axis = 1).head()

# Drop Duplicates

In [ ]:
data = {"StudentName": ["Reena", "Anil", "Mansi", "Jaman","Reena"],
        "Age": [24, 28, 26, 24,24],
        "Sex": ["Female", "Male", "Female", "Male","Female"]}
df = pd.DataFrame(data)
print(df)

# Drop Duplicate Rows
#drop_duplicates returns only the dataframe’s unique values. Removing duplicate records is sample.

In [ ]:
df = df.drop_duplicates()
print(df)

# Sorting Asceding and Desceding

In [ ]:
#Sort Ascending(by defalut)
new_data = df.sort_values('Age')
new_data

In [ ]:
# Sort Descending
new_data = df.sort_values('Age', ascending=False)
new_data

In [ ]:
new_data = df.sort_values('StudentName', ascending=False)
new_data

# Concatenate

In [ ]:
# Creating first dataframe 
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3'], 
                    'C': ['C0', 'C1', 'C2', 'C3'], 
                    'D': ['D0', 'D1', 'D2', 'D3']}, 
                    index = [0, 1, 2, 3]) 
df1

In [ ]:
# Creating second dataframe 
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 
                    'B': ['B4', 'B5', 'B6', 'B7'], 
                    'C': ['C4', 'C5', 'C6', 'C7'], 
                    'D': ['D4', 'D5', 'D6', 'D7']}, 
                    index = [4, 5, 6, 7])
df2

In [ ]:
# Creating third dataframe 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'], 
                    'B': ['B8', 'B9', 'B10', 'B11'], 
                    'C': ['C8', 'C9', 'C10', 'C11'], 
                    'D': ['D8', 'D9', 'D10', 'D11']}, 
                    index = [8, 9, 10, 11])
df3

In [ ]:
# Concatenating the dataframes 
pd.concat([df1, df2, df3])

# Group By

groupby() function is used to split the data into groups based on some criteria

In [ ]:
sales.columns

In [ ]:
sales.groupby(['Sales_Channel']).mean()

In [ ]:
sales.groupby(['Order_Priority']).sum().head()

In [ ]:
sales.groupby(['Region','Sales_Channel','Order_Priority']).count()['Unit_Cost'].head()

# PIVOT Tables

In [ ]:
pd.pivot_table(sales, index = ['Sales_Channel', 'Order_Priority'], aggfunc='sum')

# Crosstab in Pandas

#crosstab() function in Python. This method is used to compute a simple cross-tabulation of two (or more) factors

In [ ]:
pd.crosstab(sales['Sales_Channel'],sales.Unit_Cost)

# Merge & Joins

In [ ]:
user_usage = pd.read_csv("user_usage.csv")
user_device = pd.read_csv("user_device.csv")

In [ ]:
user_usage.head()

In [ ]:
user_device.head()

# Inner Merge-bydefault

In [ ]:
result = pd.merge(user_usage,user_device,on='use_id',how='inner')
result.head()

# Select specific columns in joined

In [ ]:
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id')
result.head()

# Left Merge

In [ ]:
left_merge = pd.merge(user_usage,user_device,on='use_id',how='left')
left_merge.head()

# Right Merge

In [ ]:
right_merge = pd.merge(user_usage,user_device,on='use_id',how='right')
right_merge.head()

# Outer Merge

In [ ]:
outer_merge = pd.merge(user_usage,user_device,on='use_id',how='outer')
outer_merge.head()