In [1]:
import pandas as pd

In [6]:
data=pd.read_csv("Python_Pandas_Missing_Values_CSV_Filetopic_added1611217424s_p378647622.csv", 
                 parse_dates=["Date"])
data

        Date   Age  Sales        Day
0 2019-01-01  32.0    6.0     Monday
1 2019-01-02   NaN    9.0    Tuesday
2 2019-01-10  28.0    NaN  Wednesday
3 2019-01-11  32.0    7.0        NaN
4 2019-01-12   NaN    NaN     Monday
5 2019-01-16  32.0    NaN    Tuesday
6 2019-01-17   NaN    NaN        NaN
7 2019-01-20  34.0    8.0   Thrusday
8 2019-01-21  40.0   12.0    Tuesday

In [7]:
data.dtypes

Date     datetime64[ns]
Age             float64
Sales           float64
Day              object
dtype: object

In [ ]:
# Convert date from str to timestamp

In [ ]:
#check data type of day column for 0 index
type(data.Date[0])

In [ ]:
#to convert day str type to date(timestamp) type
data=pd.read_csv("Python_Pandas_Missing_Values_CSV_Filetopic_added1611217424s_p378647622.csv",parse_dates=["Date"])

In [ ]:
data

In [ ]:
#set day as index(Inplace =Ture is essesntail otherwise it will 
# not modify the original dataframe instead it will return new dataframe)
data.set_index('Date',inplace=True)

In [ ]:
data

In [ ]:
data=pd.read_csv("Python_Pandas_Missing_Values_CSV_Filetopic_added1611217424s_p378647622.csv",parse_dates=["Date"])

In [ ]:
x=data

In [ ]:
data.set_index('Date',inplace=True)

In [ ]:

x.reset_index()
x

In [ ]:
data.set_index('Date', inplace=True)

In [ ]:
data.reset_index()
print(data)

In [ ]:
data

In [ ]:
data.loc['2019-01-01','Age']

In [ ]:
data.iloc[0,0]

In [ ]:
data.reset_index()

# Replace NaN Values with zero

In [ ]:
#replace na with 0 ALL na will convert to 0
new_data=data.fillna(0)
new_data

# When we want to replace NaN with specific value in specific column,create a Dictionary for fillna method

# Filling null values with a single value

In [ ]:
a={
        'Age': 10,
        'Sales': 100,
        'Day': 'no Day'
    }

In [ ]:
#pass a dictionary to replace Null,Day can't be replace with 0 so we are 
# replacing this with zero event
new_data = data.fillna(a)
new_data

In [ ]:
data

In [ ]:
# filling a null values using fillna()  
data["Sales"].fillna(5000)

# Estimation for Sales and other column, carry forward the same value by forward fill method

#  Filling null values with the previous ones

In [ ]:
data=pd.read_csv("Python_Pandas_Missing_Values_CSV_Filetopic_added1611217424s_p378647622.csv",parse_dates=["Date"])
data

In [ ]:
#Replace NaN with Forward fill
new_data = data.fillna(method="ffill") 
new_data

# Filling null value with the next ones

# Backward fill to carry forward next day's value

In [ ]:
#Replace NaN with Backward fill
new_data = data.fillna(method="bfill")
new_data

# axis use fill value horizontally, in neighbouring cell

In [ ]:
data

In [ ]:
#Fill values by side of the columns
new_data = data.fillna(method="bfill",axis="columns")
new_data

# Limit used to fill na value to limited cell not to all, limit 1 upto 1 cell, limit 2 upto 2 cell

In [ ]:
data

In [ ]:
new_data = data.fillna(method="ffill",limit=1)
new_data

In [ ]:
new_data = data.fillna(method="ffill",limit=3)
new_data

In [ ]:
# To check if na values are available in data

In [ ]:
data.isnull().mean() *100

In [ ]:
# how many na values in each column

In [ ]:
data.isnull().sum()

In [ ]:
data

In [ ]:
# Replace the missing values in the wih Mean value

In [ ]:
a= data['Day'].mode()[0]

In [ ]:
a

In [ ]:
data['Day'] = data['Day'].fillna(a)

In [ ]:
#try
#data['Sales'] = data['Sales'].fillna(data['Sales'].median())

In [ ]:
data

In [ ]:
# Replace the missing values in the Day Column Removed wih Mode value

In [ ]:
data

In [ ]:
data['Age'] = data['Age'].fillna(data['Age'].mode()[0])

In [ ]:
data.columns

If you want to apply it to all the columns of the DataFrame, then

In [ ]:
for column in data.columns:
    data[column].fillna(data[column].mode()[0], inplace=True)

In [ ]:
data

# Linear interpolation is a better guess for measure column, Sale on 2019-01-03 has 8 which is in between 9 and 7

In [ ]:

data

In [ ]:
#interpolate-A better guess(It uses linear interpolation and come up with values)
#bydefault it is linear interpolation
new_data=data.interpolate()
new_data

In [ ]:
data

# replace the all Nan value in the data frame with -99 value

In [ ]:
# will replace  Nan value in dataframe with value -99   
new_data = data.replace(to_replace = np.nan, value = -99)
new_data

# Dropping missing values using dropna()

# Drop na values, delete the complete row if any single column has na value

# Now we drop rows with at least one Nan value (Null value)

In [ ]:
data

In [ ]:
#Drop missing value with NA(drop a complete row if it has one single na in row)
new_data=data.dropna(how='all')
new_data

# Now we drop a rows whose all data is missing or contain null values(NaN)

# Only drop na if all the value in row has na values, how parameter,

In [ ]:
data

In [ ]:
#Drop missing value with NA only when all the value in a row has na
#how parameter
new_data=data.dropna(how='all')
new_data

# Dropping Rows with at least 1 null value in CSV file

In [ ]:
data

In [ ]:
# making new data frame with dropped NA values  
new_data = data.dropna(axis = 0, how ='any') 
new_data

# Now we drop a columns which have at least 1 missing values

In [ ]:
data

In [ ]:
# using dropna() function      
new_data = data.dropna(axis = 1, how='all') 
new_data

# keep the row if it has any single non na value,threshlod=1, keep row if it has one valid value one if threshold =2, it will keep if there are 2 valid values

In [ ]:
data.set_index('Date',inplace=True)

In [ ]:
data

In [ ]:
#Keep the rows if it has any non na value
#thershlod parameter(We need one valid value in order to keep the row)
#thresh=N requires that a column has at least N non-NaNs to survive
new_data=data.dropna(thresh=1)
new_data

In [ ]:
#We want 2 valid(non na) value in order to keep the row
new_data=data.dropna(thresh=2)
new_data

In [ ]:
data

In [ ]:
new_data=data.dropna(thresh=3)
new_data

In [ ]:
new_file = new_data.to_csv("new_file.csv")

In [ ]:
data

In [ ]:
data.to_excel("Abbas.xlsx")